<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title} + ' ' + ${subtitle}"></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <div class="container">
    <header>
      <nav class="d-flex justify-content-between">
          <ul class="breadcrumb bg-transparent">
            <li class="breadcrumb-item">Tammo Laube</li>
            <li class="breadcrumb-item active" aria-current="page">Profile</li>
          </ul>
          <div class="position-relative">
            <a id="link-impressum" class="nav-link d-print-none" href="#">Impressum</a>
            <div id="card-impressum" class="card position-absolute d-none" style="right:0;z-index:1000">
              <div th:text="${b64impressum}" class="card-body"></div>
            </div>
          </div>
      </nav>
    </header>
    <div class="row justify-content-center">
      <div class="col-xl-11" >
        <h1 th:text="${title}" class="text-center font-weight-normal"></h1>
        <h2 th:text="${subtitle}" class="text-center lead"></h2>

        <p id="skillset"></p>

        <div th:each="post : ${posts}" style="break-inside: avoid-page">
          <h3 class="font-weight-normal">
            <small class="font-weight-light">
              <time th:text="${post.date}"></time> - <time th:text="${post.dateEnd}"></time>
              <small th:text="${post.location}" class="font-weight-light"></small>
            </small>
            <br>
            <th:block th:text="${post.title}"></th:block>
            <small th:text="'at ' + ${post.company}" class="text-muted font-weight-light"></small>
          </h3>
          <ul class="list-unstyled">
            <li th:each="task : ${post.tasks}" th:text="${task}"></li>
          </ul>
          <ul class="list-inline text-monospace">
            <li th:each="tag : ${post.tags}" th:text="${tag}" class="list-inline-item"></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <script>
    document.querySelectorAll('time').forEach(time => {
      time.innerText = new Date(time.innerText).toLocaleDateString();
    });

    let decodedImpressumString;
    const cardImpressum = document.querySelector('#card-impressum');
    document.querySelector('#link-impressum').onclick = ev => {
      cardImpressum.classList.toggle('d-none');
      if (!decodedImpressumString) {
        decodedImpressumString = atob(cardImpressum.firstElementChild.innerText);
        cardImpressum.firstElementChild.innerHTML = decodedImpressumString;
      }
    };

    const skillSet = [...document.querySelectorAll('ul.list-inline li')].map(e => e.innerText).reduce((acc, v) => { acc[v] ? acc[v]++ : acc[v] = 1; return acc; }, {});
    const sortedSkillList = Object.keys(skillSet).sort((a, b) => skillSet[a] > skillSet[b] ? -1 : 1);
    document.querySelector('#skillset').innerHTML = '<ul class="list-inline text-monospace text-center">' + sortedSkillList.reduce((acc, v) => acc + '<li class="list-inline-item">' + v + '</li>', "") + '</ul>';
  </script>
</body>
</html>